*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


.contenido-unic{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
    /*color: #e6e6e6;*/
}

.text-white{
    color: white;
} 
.text-orange{
    color:#eb8b24;
}
.fs-36{
    font-size: 36;
} 
.text-center{
    text-align: center;
}
.input-search{
    width: 90%;
    font-size:40px;
    height: 70px;
    border-radius: 0.25rem;
    margin: 15px auto;
}
.icon-input{
    position: absolute;
    top: 35px;
    right: 100px;
}
.boton-unic{
    background-color: #eb8b24;
    border-radius: 15px;
    color: white;
    display: block;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 25%;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}
.boton-unic img{
    width: 100px;
}
.botonera{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


.contenido{
    height: 100%;
    width: 100%;
    background-color: #b0924210;
}
.footer{
    background-color: #0c233f;
    text-align: center;
    padding: 15px;
    min-height: 150px;
    width: 100%;
}
.content-login{
    background-color: white;
    min-width: 450px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    min-height: 450px;
}

@media (max-width: 800px) {
  .botonera {
    flex-direction: column;
    margin-left: none;
    width: 90%;
  }
}

.miNavegacion li{
    display: inline-block;
}

.miNavegacion a{
    display: block;
    color:#0c233f;
    padding: 15px;
    text-decoration: none;
    transition: all 0.5s ease-in;
}

.miNavegacion a:hover{
    background-color: #b09242;
}